* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 40px rgb(11, 3, 255);
    padding: 20px 40px;
    border-radius: 20px;
}

.container h1 {
    margin-bottom: 40px;
}

label {
    margin: 10px 0;
    font-size: 17px;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(12, 12, 239);
    font-size: 20px;
    text-align: center;
    margin-block: 10px;
}

.btn {
    background: blue;
    color: white;
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 20px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.result {
    margin: 10px 0;
    font-size: 20px;
}

@media(max-width: 334px) {
    .container {
        width: 100%;
    }

    .container h1 {
        font-size: 25px;
    }
}